@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  --white: #fcfcff;
  --black: #000;
  --github-purple: #6e5494;
  --linkedin-blue: #0077b5;
  --gmail-red: #bb001b;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

.app {
  display: flex;
  margin: 5vh calc(100vw / 3 / 2);
}
